:root{

/****BASE****/
--primary-bg-color:aliceblue ;
--secondary-bg-color:#4BA67B;
--tertiary-bg-color:#F2B544;
--quaternary-bg-color: #ED442B;

--primary-hover-bg-color:aliceblue;

/****TEXTO****/
--primary-text-color:#1a1919;
--secondary-text-color:#BF9039;
--tertiary-text-color:aliceblue;
--quaternary-text-color:#4BA67B;
--error-text-color: #ED442B;

--primary-hover-text-color:#4BA67B;

/****SOMBRAS****/
--primary-shadow-color:#BF9039;

/****BORDES****/
--primary-border-color:#4BA67B;
--secondary-border-color:#ED442B;
--primary-hover-border-color:#4BA67B;
--secondary-hover-border-color:#ED442B;
--disabled-border-color:#85978f;

/****ESTADOS****/
--disabled-color:#85978f;
}


