
/****BASE****/
$primary-bg-color: aliceblue;
$secondary-bg-color: #4ba67b;
$tertiary-bg-color: #f2b544;
$quaternary-bg-color: #ed442b;

$primary-hover-bg-color: aliceblue;

/****TEXTO****/
$primary-text-color: #1a1919;
$secondary-text-color: #bf9039;
$tertiary-text-color: aliceblue;
$quaternary-text-color: #4ba67b;
$error-text-color: #ed442b;

$primary-hover-text-color: #4ba67b;

/****SOMBRAS****/
$primary-shadow-color: #bf9039;

/****BORDES****/
$primary-border-color: #4ba67b;
$secondary-border-color: #ed442b;
$primary-hover-border-color: #4ba67b;
$secondary-hover-border-color: #ed442b;
$disabled-border-color: #85978f;

/****ESTADOS****/
$disabled-color: #85978f;

