/****LAYOUT****/
@mixin display-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin display-column{
    display: flex;
    flex-direction: column;
}

@mixin basic-border{
    border-width: 1px;
    border-style: solid;
    border-radius: var(--border-radius);
}

/****COMPONENTS****/

    /****BUTTONS****/
@mixin basic-button{
    padding: var(--header-padding);
    border-radius: var(--border-radius);
    font-family: var(--body-font-family);
    font-size: var(--base-font-size);
    font-weight: var(--base-font-weight);
}

@mixin link-button{
    @include basic-button;
    text-decoration: var(--basic-text-decoration);
}

@mixin nav-button{
    @include link-button;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

@mixin nav-button-hover{
    @include link-button;
    background-color: var(--secondary-bg-color);
    color: var(--tertiary-text-color);
    transition: var(--button-transition);
}

@mixin submit-button{
    @include basic-button;
    @include basic-border;
    background-color: var(--secondary-bg-color);
    color: var(--tertiary-text-color);
    border-color:var(--primary-border-color);
}

@mixin submit-button-hover{
    @include basic-button;
    @include basic-border;
    background-color: var(--primary-hover-bg-color);
    color: var(--primary-hover-text-color);
    border-color:var(--primary-hover-border-color);
    transition: var(--button-transition);  
}

@mixin cancel-button{
    @include link-button;
    background-color: var(--quaternary-bg-color);
    color: var(--tertiary-text-color);
    border-color:var(--secondary-border-color);
}

@mixin cancel-button-hover{
    @include link-button;
    @include basic-border;
    background-color: var(--primary-bg-color);
    color: var(--error-text-color);
    border-color:var(--secondary-hover-border-color);
    transition: var(--button-transition);
}

@mixin footer-button{
    @include link-button;
    background-color: var(--primary-bg-color);
    color: var(--quaternary-text-color);
    padding: 0.5rem;
}

@mixin footer-button-hover{
    @include link-button;
    background-color: var(--secondary-bg-color);
    color: var(--tertiary-text-color);
    padding: 0.5rem;
}

    /****FORMS****/
    
@mixin form-title{
    font-family: var(--form-title-font-family);
    font-size: var(--form-title-font-size);
    font-weight: var(--form-font-weight);
    color: var(--form-title-color);
    text-align: var(--form-text-align);
    padding: var(--form-text-padding);
}

@mixin form-label{
    font-family: var(--form-text-font-family);
    font-size: var(--form-label-font-size);
    font-weight: var(--form-font-weight);
    color: var(--form-label-color);
    padding:var(--form-text-padding);
}

@mixin form-input{
    font-family: var(--form-text-font-family);
    font-size: var(--form-text-font-size);
    font-weight: var(--form-font-weight);
    color:var(--form-input-color);
}

@mixin form-input-label{
    @include form-input;
}

@mixin form-small{
    font-family: var(--form-text-font-family);
    font-size: var(--form-small-font-size);
    font-weight: var(--form-font-weight);
    color:var(--form-error-color);
    padding:var(--form-text-padding);
}