@import '../base/base';
@import '../utilities/colors';
@import '../utilities/animations';
@import '../utilities/breakpoints';
@import '../components/components';
@import '../layout/layout';

/****LAYOUT****/
@mixin display-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@mixin display-column {
	display: flex;
	flex-direction: column;
}

@mixin basic-align{
	align-items: center;
	justify-content: center;
}

@mixin basic-border {
	border-width: 0.05rem;
	border-style: solid;
	border-radius: $border-radius;
}

/****MEDIA QUERIES****/
@mixin for-mobile {
	@media only screen and (max-width: 526px) {
		@content;
	}
}

@mixin for-tablet {
	@media only screen and (max-width: 768px) {
		@content;
	}
}

@mixin for-laptop {
	@media only screen and (max-width: 1024px) {
		@content;
	}
}

@mixin for-large-screen {
	@media only screen and (max-width: 1472px) {
		@content;
	}
}

/****FONTS****/
@mixin basic-font {
	font-family: $body-font-family;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	color: $tertiary-text-color;
	padding: $basic-text-padding;
}

@mixin font-title {
	font-family: $form-title-font-family;
	font-size: $form-title-font-size;
	font-weight: $form-font-weight;
	color: $form-title-color;
	text-align: $form-text-align;
	padding: $form-text-padding;
}
/****COMPONENTS****/

/****BUTTONS****/
@mixin basic-button {
	padding: $header-padding;
	border-radius: $border-radius;
	font-family: $body-font-family;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
}

@mixin link-button {
	@include basic-button;
	text-decoration: $basic-text-decoration;
}

@mixin nav-button {
	@include link-button;
	background-color: $primary-bg-color;
	color: $primary-text-color;

	&:hover {
		background-color: $secondary-bg-color;
		color: $tertiary-text-color;
		transition: $button-transition;
	}
}

@mixin submit-button {
	@include basic-button;
	@include basic-border;
	background-color: $secondary-bg-color;
	color: $tertiary-text-color;
	border-color: $primary-border-color;

	&:hover {
		background-color: $primary-hover-bg-color;
		color: $primary-hover-text-color;
		border-color: $primary-hover-border-color;
		transition: $button-transition;
	}

	&:disabled {
		background-color: $button-bg-disabled;
		color: $button-text-disabled;
		border-color: $disabled-border-color;
	}
}

@mixin clear-button {
	@include link-button;
	@include basic-border;
	background-color: $quaternary-bg-color;
	color: $tertiary-text-color;
	border-color: $secondary-border-color;

	&:hover {
		background-color: $primary-bg-color;
		color: $error-text-color;
		border-color: $secondary-hover-border-color;
		transition: $button-transition;
	}
}

@mixin footer-button {
	@include link-button;
	background-color: $primary-bg-color;
	color: $quaternary-text-color;
	padding: 0.5rem;

	&:hover {
		background-color: $secondary-bg-color;
		color: $tertiary-text-color;
		padding: 0.5rem;
	}
}

/****FORMS****/

@mixin form-label {
	font-family: $form-text-font-family;
	font-size: $form-label-font-size;
	font-weight: $form-font-weight;
	color: $form-label-color;
	padding: $form-text-padding;
}

@mixin form-input {
	font-family: $form-text-font-family;
	font-size: $form-text-font-size;
	font-weight: $form-font-weight;
	color: $form-input-color;
	outline-color: #bf9039;
}

@mixin form-input-text {
	@include form-input;
}

@mixin form-small {
	font-family: $form-text-font-family;
	font-size: $form-small-font-size;
	font-weight: $form-font-weight;
	color: $form-error-color;
	padding: $form-text-padding;
}

@mixin form-span {
	font-family: $form-text-font-family;
	font-size: $form-label-font-size;
	font-weight: $form-font-weight;
	color: $form-label-color;
	padding: $form-text-padding;
}

/****CARDS****/
@mixin card-contacto {
	@include display-column;
	padding: $card-padding;
	margin: 0rem 1rem 1rem 1rem;
	background-color: $card-bg-color;
	border-radius: $card-border-radius;
}
