@import '../../../assets/scss/utilities/mixins';

.agenda-cervecera-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-bg-color);
    padding: var(--footer-padding);
    &__copyright{
        font-family: var(--footer-font-family);
        font-size: var(--footer-font-size);
        font-weight: var(--footer-font-weight);
        text-align: center;
        line-height: 2rem;
        &__link{
            @include footer-button;
            &:hover{
                @include footer-button-hover;
            }
        }
    }
}