<header class="agenda-cervecera-header">
    <h1 class="agenda-cervecera-header__titulo">Birrapp</h1>
    <nav class="agenda-cervecera-header__nav">
        <ul class="agenda-cervecera-header__nav__listaNav">
            <li class="agenda-cervecera-header__nav__listaNav--registro">
                <a class="agenda-cervecera-header__nav__listaNav--registro__enlace" routerLink="registro">Registro</a>
            </li>
            <li class="agenda-cervecera-header__nav__listaNav--lista">
                <a class="agenda-cervecera-header__nav__listaNav--lista__enlace" routerLink="lista">Lista</a>
            </li>
        </ul>
    </nav>
</header>