@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root{
/****FONT-FAMILY****/
--title-font-family:'Alfa Slab One', cursive;
--body-font-family:'Basic', sans-serif;

/****FONT-SIZE****/
--header-font-size: 50px;
--title-font-size: 30px;
--base-font-size: 18px;

/****FONT-WEIGHT****/
--base-font-weight: 400;

/****TEXT DECORATION****/
--basic-text-decoration:none;

/****TEXT ALIGN****/
--basic-text-align:center;

/****TEXT PADDING****/
--basic-text-padding:0rem 0rem 1rem 0rem;
}




