
/****LAYOUT****/
$card-padding: 1rem;
$card-border-radius: $border-radius;
$card-bg-color: $secondary-bg-color;
/****FONTS****/
$card-font-family: $body-font-family;
$card-title-size: 20px;
$card-text-size: $base-font-size;
$card-font-weight: $base-font-weight;
$card-font-color: $tertiary-text-color;

