@import '../../../assets/scss/utilities/mixins';

.agenda-cervecera-section{
    @include display-column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    &__registro{
        @include display-row;
        background-color: var(--secondary-bg-color);
        padding: var(--basic-padding);
        border-radius: var(--border-radius);
        align-items: center;
        justify-content: space-between;
        width: 45rem;
        margin: 0 auto;
        @include for-large-screen{
            @include display-column;
            width: auto;
        }
        &__form{
            background-color: var(--primary-bg-color);
            padding: var(--form-padding);
            border-radius: var(--border-radius);
            @include for-mobile{
                width: 70vw;
                padding: 1rem;
            }
            &__titulo{
                @include form-title;
            }
            &__item--nombreContacto{
                @include display-column;
                &__label{
                    @include form-label;
                }
                &__input{
                    @include form-input;
                }
                &__small{
                    @include form-small;
                }
            }
            &__item--telefono{
                @include display-column;
                &__label{
                    @include form-label;
                }
                &__input{
                    @include form-input;
                }
                &__small{
                    @include form-small;
                }
            }
            &__item--fechaNacimiento{
                @include display-column;
                &__label{
                    @include form-label;
                }
                &__input{
                    @include form-input;
                }
                &__small{
                    @include form-small;
                }
            }
            &__item--sexo{
                @include display-column;

                &__label{
                    @include form-label;
                }
                &__radiogroup{
                    @include display-column;
                    
                    &__container{
                        @include form-input-text;
                    }
                }
                &__small{
                    @include form-small;
                }
            }
            
            
            &__item--cervezasFavoritas{
                @include display-column;
                &__label{
                    @include form-label;
                }
                &__checkbox{
                    @include display-column;

                    &__container{
                        @include form-input-text;
                    }
                }
                
                &__small{
                    @include form-small;
                }
            }
            &__submit{
                @include submit-button;
                &:hover{
                    @include submit-button-hover;
                }
                &:disabled{
                    @include submit-button-disabled;
                }
            }
            &__cancel{
                @include cancel-button;
                margin-left:1rem;
                &:hover{
                    @include cancel-button-hover;
                }
            }
        }
        &__containerRegistro-containerImg{
            margin-right: 2.8rem;
            background-color: var(--primary-bg-color);
            border-radius: 5rem;
            padding: 3rem;
            @include for-large-screen{
                display: none;
            }
        }
    }
}
