<h2>¡Regístrate!</h2>

<div class="container">
    <form class="form-agregar-cancion">

        <!--********** INPUT NOMBRE CONTACTO ***********-->
        <div class="form-agregar-cancion__form-group">

            <label for="nombreContacto">Tu nombre:</label>
            <input type="text" class="form-control" required>

            <small class="form-agregar-cancion__form-group__msg-error" >
                Tienes que insertar el nombre de una canción
            </small>
        </div>

        <!--********** INPUT TELEFONO CONTACTO ***********-->
        <div class="form-agregar-cancion__form-group">

            <label for="telefono">Tu teléfono:</label>
            <input type="text" class="form-control" required>

            <small class="form-agregar-cancion__form-group__msg-error">
                Tienes que insertar el nombre de una canción
            </small>
        </div>

        <!--********** INPUT FECHA NACIMIENTO CONTACTO ***********-->
        <div class="form-agregar-cancion__form-group">

            <label for="fechaNacimiento">Tu fecha de nacimiento:</label>
            <input type="date" class="form-control"  required>

            <small class="form-agregar-cancion__form-group__msg-error" >
                Tienes que insertar el nombre de una canción
            </small>
        </div>

        <!--********** INPUT SEXO CONTACTO ***********-->
        <div class="form-agregar-cancion__form-group">

            <label for="sexo">Tu sexo:</label>
            <select name="sexo" class="form-control" required>
                <option value="value1">Hombre</option>
                <option value="value2" selected>Mujer</option>
            </select>
            

            <small class="form-agregar-cancion__form-group__msg-error" >
                Tienes que insertar el nombre de una canción
            </small>
        </div>

        <!--********** INPUT SEXO CONTACTO ***********-->
        <div class="form-agregar-cancion__form-group">

            <label for="cervezasFavoritas">Tus cervezas favoritas:</label>
            <select name="sexo" class="form-control"  required>
                <option value="value1">Hombre</option>
                <option value="value2" selected>Mujer</option>
            </select>
            

            <small class="form-agregar-cancion__form-group__msg-error">
                Tienes que insertar el nombre de una canción
            </small>
        </div>

        <!--********** INPUT SUBMIT ***********-->
        <input class="form-agregar-cancion__boton-submit" type="submit" value="Enviar" >
    </form>
</div>