<main class="agenda-cervecera-main">
    <div class="agenda-cervecera-main__registro">

        <!--********** FORMULARIO IZQUIERDA ***********-->
        <form class="agenda-cervecera-main__registro__form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2 class="agenda-cervecera-main__registro__form__titulo">¡Regístrate!</h2>

            <!--********** INPUT NOMBRE CONTACTO ***********-->
            <div class="agenda-cervecera-main__registro__form__item--nombreContacto">
                <label class="agenda-cervecera-main__registro__form__item--nombreContacto__label" for="nombreContacto">Tu nombre:</label>
                <input class="agenda-cervecera-main__registro__form__item--nombreContacto__input" type="text" formControlName="nombreContacto" required>
                
                <!--********** MSG SI NO VALIDO ***********-->
                <small class="agenda-cervecera-main__registro__form__item--nombreContacto__small" *ngIf="form.get('nombreContacto')?.errors?.['required']">
                    Tienes que insertar tu nombre 
                </small>
            <small class="agenda-cervecera-main__registro__form__item--nombreContacto__small" *ngIf="form.get('nombreContacto')?.errors?.['maxlength']">
                    El máximo permitido de caracteres es 30
                </small>
            </div>

            <!--********** INPUT TELEFONO CONTACTO ***********-->
            <div class="agenda-cervecera-main__registro__form__item--telefono">
                <label class="agenda-cervecera-main__registro__form__item--telefono__label" for="telefono">Tu teléfono:</label>
                <input class="agenda-cervecera-main__registro__form__item--telefono__input" type="text"  formControlName="telefono" required>
                
                <!--********** MSG SI NO VALIDO ***********-->
                <small class="agenda-cervecera-main__registro__form__item--telefono__small" *ngIf="form.get('telefono')?.errors?.['required']">
                    Tienes que insertar tu número de teléfono
                </small>
                <small class="agenda-cervecera-main__registro__form__item--telefono__small" *ngIf="form.get('telefono')?.errors?.['minlength']">
                    Tienen que ser mínimo 9 números
                </small>
                <small class="agenda-cervecera-main__registro__form__item--telefono__small" *ngIf="form.get('telefono')?.errors?.['maxlength']">
                    Tienen que ser máximo 9 números
                </small>
            </div>

            <!--********** INPUT FECHA NACIMIENTO CONTACTO ***********-->
            <div class="agenda-cervecera-main__registro__form__item--fechaNacimiento">
                <label class="agenda-cervecera-main__registro__form__item--fechaNacimiento__label" for="fechaNacimiento">Tu fecha de nacimiento:</label>
                <input  class="agenda-cervecera-main__registro__form__item--fechaNacimiento__input" type="date" formControlName="fechaNacimiento" required>
                
                <!--********** MSG SI NO VALIDO ***********-->
                <small class="agenda-cervecera-main__registro__form__item--fechaNacimiento__small" *ngIf="form.get('fechaNacimiento')?.errors?.['required']">
                    Tienes que insertar tu fecha de nacimiento
                </small>
            </div>

            <!--********** INPUT SEXO CONTACTO ***********-->
            <div class="agenda-cervecera-main__registro__form__item--sexo">
                <label class="agenda-cervecera-main__registro__form__item--sexo__label" for="sexo">Tu sexo:</label>
                <div class="agenda-cervecera-main__registro__form__item--sexo__container" *ngFor="let sexo of sexos">
                    <input class="agenda-cervecera-main__registro__form__item--sexo__container__input" type="radio" name="sexo" formControlName="sexo" [value]="sexo">{{ sexo }}
                </div>
                
                <!--********** MSG SI NO VALIDO ***********-->
                <small class="agenda-cervecera-main__registro__form__item--sexo__small" *ngIf="form.get('sexo')?.errors?.['required']">
                    Tienes que insertar tu sexo
                </small>
            </div>

            <!--********** INPUT TUS CERVEZAS FAVORITAS ***********-->
            <div class="agenda-cervecera-main__registro__form__item--cervezasFavoritas">
                <label class="agenda-cervecera-main__registro__form__item--cervezasFavoritas__label" for="cervezasFavoritas">Tus cervezas favoritas:</label>
                <div class="agenda-cervecera-main__registro__form__item--cervezasFavoritas__container" formArrayName="cervezasFavoritas" *ngFor="let cerveza of cervezas; let i=index">
                    <label class="agenda-cervecera-main__registro__form__item--cervezasFavoritas__container__label">
                        <input class="agenda-cervecera-main__registro__form__item--cervezasFavoritas__container__label__input" type="checkbox"  [value]="cerveza.name" (change)="onCheckBoxChange($event)" />
                        {{cerveza.name}}
                    </label>
                </div>
                
                <!--********** MSG SI NO VALIDO ***********-->
                <small class="agenda-cervecera-main__registro__form__item--cervezasFavoritas__label" *ngIf="this.form.controls['cervezasFavoritas']?.errors?.['required']">
                    Tienes que elegir al menos una cerveza
                </small>
                <small class="agenda-cervecera-main__registro__form__item--cervezasFavoritas__label" *ngIf="this.form.controls['cervezasFavoritas']?.errors?.['maxlength']">
                    Tienes que insertar un máximo de 3 cervezas
                </small>

                
            </div>

            <!--********** INPUT SUBMIT ***********-->
            <input class="agenda-cervecera-main__registro__form__submit" type="submit" value="Enviar" [disabled]="form.invalid">
        </form>

        <!--********** IMAGEN DERECHA ***********-->
        <div class="agenda-cervecera-main__containerRegistro-containerImg">
            <img class="agenda-cervecera-main__containerRegistro-containerImg__img"
                src="https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/64/000000/external-beer-sauna-icongeek26-linear-colour-icongeek26.png" />
        </div>
    </div>
</main>