@import '../../../assets/scss/utilities/mixins';

.agenda-cervecera-main{
    display:var(--basic-display);
    padding:var(--main-padding);
    .agenda-cervecera-main__registro{
        @include display-row;
        background-color: var(--secondary-bg-color);
        padding: var(--basic-padding);
        border-radius: var(--border-radius);
        align-items: center;
        justify-content: space-between;
        width: 50rem;
        margin: auto;
        .agenda-cervecera-main__registro__form{
            background-color: var(--primary-bg-color);
            padding: var(--form-padding);
            border-radius: var(--border-radius);
            .agenda-cervecera-main__registro__form__titulo{
                @include form-title;
            }
            .agenda-cervecera-main__registro__form__item--nombreContacto{
                @include display-column;
                .agenda-cervecera-main__registro__form__item--nombreContacto__label{
                    @include form-label;
                }
                .agenda-cervecera-main__registro__form__item--nombreContacto__input{
                    @include form-input;
                }
                .agenda-cervecera-main__registro__form__item--nombreContacto__small{
                    @include form-small;
                }
            }
            .agenda-cervecera-main__registro__form__item--telefono{
                @include display-column;
                .agenda-cervecera-main__registro__form__item--telefono__label{
                    @include form-label;
                }
                .agenda-cervecera-main__registro__form__item--telefono__input{
                    @include form-input;
                }
                .agenda-cervecera-main__registro__form__item--telefono__small{
                    @include form-small;
                }
            }
            .agenda-cervecera-main__registro__form__item--fechaNacimiento{
                @include display-column;
                .agenda-cervecera-main__registro__form__item--fechaNacimiento__label{
                    @include form-label;
                }
                .agenda-cervecera-main__registro__form__item--fechaNacimiento__input{
                    @include form-input;
                }
                .agenda-cervecera-main__registro__form__item--fechaNacimiento__small{
                    @include form-small;
                }
            }
            .agenda-cervecera-main__registro__form__item--sexo{
                @include display-column;
                .agenda-cervecera-main__registro__form__item--sexo__label{
                    @include form-label;
                }
                .agenda-cervecera-main__registro__form__item--sexo__container__label{
                    @include form-input-label;
                }
                .agenda-cervecera-main__registro__form__item--sexo__small{
                    @include form-small;
                }
            }
            .agenda-cervecera-main__registro__form__item--cervezasFavoritas{
                @include display-column;
                .agenda-cervecera-main__registro__form__item--cervezasFavoritas__label{
                    @include form-label;
                }
                .agenda-cervecera-main__registro__form__item--cervezasFavoritas__container__label{
                    @include form-input-label;
                }
                .agenda-cervecera-main__registro__form__item--cervezasFavoritas__small{
                    @include form-small;
                }
            }
            .agenda-cervecera-main__registro__form__submit{
                @include submit-button;
                &:hover{
                    @include submit-button-hover;
                }
            }
            .agenda-cervecera-main__registro__form__cancel{
                @include cancel-button;
                margin-left:1rem;
                &:hover{
                    @include cancel-button-hover;
                }
            }
        }
        .agenda-cervecera-main__containerRegistro-containerImg{
            margin-right: 6rem;
            background-color: var(--primary-bg-color);
            border-radius: 5rem;
            padding: 3rem;
        }
    }
}